.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  font-size: 1.4em;
  opacity: 0.2;
  transition: opacity 0.5s;
  transition-delay: 1s;
  background-color: #f9f9f9;

  &:hover {
    opacity: 1;
    transition-delay: 0s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .tab {
    position: relative;
    padding: 0.3em 1em 0.4em 1em;
    flex-shrink: 0;

    &[data-active="true"] {
      background-color: #ddd;
    }

    &[data-new-tab="true"] {
      animation: fade-in 1s forwards;
      color: #555;
    }

    &:hover {
      background-color: #ccc;
    }
  }

  .tab-context-menu {
    position: fixed;
    translate: 0.1em 0.1em;
    z-index: 10;

    .tab-context-menu-item {
      font-size: 0.7em;
      background-color: rgb(121, 11, 11);
      color: white;
      padding: 0.3em 0.6em;
    }
  }

  .add-tab {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7em;

    &:hover {
      background-color: #ccc;
    }
  }
}
