.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  font-size: 1.4em;
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 1s;
  background-color: light-dark(#eee, #111);

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .navbar-button {
    &:hover,
    &[data-active="true"] {
      background-color: light-dark(#fff, #222);
    }
  }

  .tab-container {
    position: relative;
    $close-tab-size: 1em;

    .tab {
      position: relative;
      padding: 0.3em 0.25em 0.4em 1em;
      flex-shrink: 0;
      display: flex;
      gap: 0.25em;
      align-items: center;
      padding-right: $close-tab-size * 2;

      &[data-new-tab="true"] {
        animation: fade-in 1s forwards;
      }
    }

    .close-tab {
      position: absolute;
      right: calc($close-tab-size / 2);
      top: 50%;
      transform: translateY(-50%);
      font-size: $close-tab-size;
      line-height: $close-tab-size;
      padding: 0 0.25em;
      opacity: 0.5;
    }
  }

  .add-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7em;
  }
}
