:root {
  font-family: "Inconsolata", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#222, #fff);
  background-color: light-dark(#fff, #222);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  width: 100vw;
  height: 100dvh;
  height: 100vh;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
